#
# These are copied diretly from the Apache rewrite rules
# used for a VM-based FOIA deployment
#

# Not needed, the rewrite engine is always on
# RewriteEngine On

# Not needed, this is only in the /foia/ path already
# RewriteBase "/foia/"

#
# Actual, useful rules
#

#
# If we're going to the actual index.html resource,
# then just let it flow through
#
RewriteRule ^index\.html$ - [L]

#
# If the target isn't a file or a directory, punt it
# to the "single page" html file
#
RewriteCond %{SERVLET_PATH} !-f
RewriteCond %{SERVLET_PATH} !-d
RewriteRule ^.*$ /index.html [L]

#
# End of file
#
